:local(.paginationContainer) {
  background-color: white;
  text-align: center;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
}

.pagination > li > a {
  color: #5c75b0;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
  background-color: #5c75b0;
  border-color: #5c75b0;
}
